.popup-container{
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: #00000059 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 25%;
    margin-left: auto; 
    margin-right: auto; 


    .popup-content{
       
        

        
    }
}